boady {
    padding: 0px;
    margin: 0px;
}

.container {
    border: 1px solid rgb(157, 170, 170);
    margin: 10vh auto 0 auto;
    max-width: 400px;
    box-shadow: 0px 0px 43px 17px rgba(153, 153, 153, 1);

}

.heading {
    text-align: center;
    background-color: rgba(135, 158, 158, 0.639);
    border: 2px solid rgba(58, 70, 86, 0.659);
    border-bottom: 0px;
    font-size: 22px;
 
}


#display {

    text-align: right;
    font-size: 25px;
    height: 70px;
    padding: 8px 7px;
    line-height: 50px;
    overflow-x: hidden;
    color: rgba(69, 4, 220, 0.97);
    border: 2px solid rgba(58, 70, 86, 0.659);
    border-bottom: 0px;
    background-color: rgba(198, 227, 227, 0.639);
}

.buttons {
    display: grid;
    border-top: 1.5px solid rgba(111, 153, 150, 0.659);
    border-bottom: 1px solid #999;
    border-left: 1px solid#999;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: rgba(12, 36, 53, 0.918);


}

.buttons>div {
    border-top: 1px solid #999;
    border-right: 1px solid#999;
    margin: 2px;
    background-color: rgba(186, 194, 194, 0.549);
}

.button {
    line-height: 70px;
    text-align: center;
    border: 0.5px solid rgb(119, 115, 115);
    font-size: 27px;
    cursor: pointer;
    color: white;
}

#equal-button {
    background-color: rgb(91, 208, 214);
    font-size: 40px;
    text-align: center;
    color: rgb(226, 239, 185);
    cursor: pointer;
}

.button:hover {
    background-color: rgba(217, 239, 239, 0.784);
    font-size: 33px;
    transition: 0.4s ease-in-out;
}

#equal-button:hover {
    background-color: rgba(75, 140, 147, 0.908);
    color: rgb(174, 247, 246);
    transition: 0.5s;
}
